:root {
    --some-color: hsl(212, 23%, 69%);
    --bg-color: hsl(210, 46%, 95%);
    --btn-color: hsl(214, 17%, 51%);
    --text-color: hsl(217, 19%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    padding: 0 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', serif;
    font-size: 13px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    border-radius: 12px;
    max-width: 20rem;
    position: relative;
}

.image-section>img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.description-section,
.profile-and-share-btn {
    padding: 0 1.6rem;
    margin-top: 2rem;
}

.intro-text {
    font-weight: 700;
    font-size: 1rem;
}

.description {
    line-height: 1.8;
    font-weight: 500;
    margin-top: 1rem;
    opacity: 80%;
}

.profile-and-share-btn,
.profile {
    display: flex;
    flex-direction: row nowrap;
    gap: 1rem;
}

.profile-img {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

.profile-and-share-btn {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.share-button {
    border-radius: 50%;
    background-color: var(--bg-color);
    padding: 8px;
    z-index: 1;
}

.share-button:hover {
    cursor: pointer;
}

.share-menu-desktop {
    position: absolute;
    bottom: -1000px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.share-menu{
    background-color: var(--text-color);
    display: flex;
    flex-flow: row nowrap;
    padding: 1.8rem 1.5rem;
    color: var(--bg-color);
    gap: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 20rem;
   
}

.share-menu>p {
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 80%;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--text-color);
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
    main {
        max-width: 56em;
        flex-flow: row nowrap;
    }

    .image-section {
        width: 52rem;
    }

    .image-section>img {
        border-top-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
    }

    .share-menu-desktop{
        right: -80px;
        justify-content: center;
    }

    .share-menu {
        border-radius: 12px;
        padding: 1rem;
        justify-content: center;
        width: 15rem;
    }

    .down-arrow {
        display: block;
    }
}